.add {
  padding: 16px;
}

.addForm {
  display: flex;
  align-items: flex-start;
}

.addInput {
  background: unset;
  border: unset;
  padding: 0 64px;

  flex: 1;

  border-bottom: 1px solid var(--main-red-color);
  outline: unset;

  font-family: 'Syne Tactile', sans-serif;
  font-size: 16px;
  text-transform: lowercase;
}


.addBtn {
  font-size: 1.8rem;
  font-family: 'Homemade Apple', sans-serif;
  cursor: pointer;

  padding: 16px;
  padding-right: unset;

  background: unset;
  border: unset;
  outline: unset;
}

.addBtn.main-black-color:active {
  text-shadow: 1px 1px 2px var(--main-black-color);
}
