.header {
  display: flex;

  align-items: flex-start;
}

.headerTitle {
  width: 52%;
  /* artinya akan mengambil space maksimal dari container flexnya <-----> */

  text-align: center;

  color: var(--main-black-color);
  
  font-size: 3.6rem;
  font-family: 'Syne Tactile', sans-serif;
  text-transform: lowercase;
}
